{% extends "base.html" %}

{% block content %}
</div>
    <div class="post-list-container-all-posts">
        <ul class="post-list">
            {% for post in view_all_posts %}
                <li class="post-item">
                    <a href="{% url 'post_detail' post.slug %}">
                        <div class="post-content">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <div class="post-meta">
                                <span class="post-category">{{ post.category }}</span>
                                <span class="post-divider">|</span>
                                <span class="post-author">Author: {{ post.author.username }}</span>
                            </div>
                            <p class="post-excerpt">{{ post.body|striptags|truncatewords_html:40|safe }}</p>
                            <p class="post-info">Created: {{ post.updated_on }}</p>
                            <div class="post-info">
                                <span class="post-likes"><i class="fa-regular fa-heart"></i>  {{ post.number_of_likes }}</span>
                                <span class="post-comments"><i class="fa-regular fa-comment"></i> {{ post.approved_comments_count }}</span>
                            </div>
                        </div>
                    </a>
                </li>
            {% empty %}
                <li class="no-posts">No posts available</li>
            {% endfor %}
        </ul>
        </div>
            <!-- Footer -->
    <footer >            
        <div class="">
            <p>Stay Connected with Us on Social Media!</p>
            <div>
                <a href="https://twitter.com/?lang=pt" target="_blank" rel="noopener" aria-label="visit our Twitter page"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="visit our Instagram page"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.tiktok.com/en/" target="_blank" rel="noopener" aria-label="visit our TikTok page"><i class="fa-brands fa-tiktok"></i></a>            
            </div>
        </div>
        
</footer>
{%endblock%}