{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <h4 class="add-post"><a href="{% url 'add_post' %}">Add Post</a></h4>
{% else %}
    <p>You need to be logged in to add posts.</p>
{% endif %}
    <div class="post-list-container">
        <ul class="post-list">
            {% for post in view_all_posts %}
                <li class="post-item">
                    <a href="{% url 'post_detail' post.slug %}">
                        <div class="post-content">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <div class="post-meta">
                                <span class="post-category">{{ post.category }}</span>
                                <span class="post-divider">|</span>
                                <span class="post-author">Author: {{ post.author.username }}</span>
                            </div>
                            <p class="post-excerpt">{{ post.body|striptags|truncatewords_html:40|safe }}</p>
                            <p class="post-info">Created: {{ post.updated_on }}</p>
                            <div class="post-info">
                                <span class="post-likes"><i class="fa-regular fa-heart"></i>  {{ post.number_of_likes }}</span>
                                <span class="post-comments"><i class="fa-regular fa-comment"></i> {{ post.approved_comments_count }}</span>
                            </div>
                        </div>
                    </a>
                </li>
            {% empty %}
                <li class="no-posts">No posts available</li>
            {% endfor %}
        </ul>
        </div>
{%endblock%}