{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Blog</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;300;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar">
        <ul class="links-container">
            {% if user.is_authenticated %}
            <li class="link-item"> 
                <a href="{% url 'account_logout' %}"> Logout </a>
            </li class="link-item">
                <a href="{% url 'add_post' %}">Add Post</a>
            <li>
            </li>
            {% else %}
            <li class="link-item">
                <a href="{% url 'account_signup' %}"> Sign up </a>
            </li>
            <li class="link-item">
                <a href="{% url 'account_login' %}"> Sign in </a>
            </li>
            {% endif %}
            <li class="link-item">
                <a href="{% url 'home' %}"> <i class="fa-solid fa-location-dot" class="logo"></i></a>
            </li>        
            <li class="link-item community">
                <a href="{% url 'view_all_posts' %}"> Community Connect </a>
            </li>
        </ul>
    </nav>
   <main>
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
</main>

<script src="https://kit.fontawesome.com/81e5b05463.js" crossorigin="anonymous"></script>

</body>