
{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<div class="post-container">
    <div class="post-header">
        <h2 class="post-title-details">{{ post.title }}  |</h2>
        <h4 class="post-category-details"> {{ post.category }}</h4>
        {% if user.is_authenticated and user == post.author %}        
            <p class="update-post-link"><a href="{% url 'update_post' post.slug %}">Update Post</a></p>
            <p class="delete-post-link"><a href="{% url 'delete_post' post.slug %}">Delete Post</a></p>        
        {% endif %}
    </div>
    <h6 class="post-author-details">By {{ post.author.username }}</h6>
    <p class="post-created-details">Created {{ post.updated_on }}</p>
    <p class="post-body">{{ post.body|safe }}</p>

    <div class="post-like-comment">
        {% if user.is_authenticated %}
        <form action="{% url 'post_like' post.slug %}" method="POST" class="post-like-form">
            {% csrf_token %}
            {% if liked %}
            <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like liked"><i class="fas fa-heart"></i></button>
            {% else %}
            <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like"><i class="far fa-heart"></i></button>
            {% endif %}
        </form>
        {% else %}
        <span class="not-liked"><i class="far fa-heart"></i></span>
        {% endif %}
        <span class="post-likes"> {{ post.number_of_likes }}</span>    
        <p class="post-comments-count"><i class="fa-solid fa-comment"></i>  {{ comments.count }}</p>
    </div>    
</div>
    
<div class="comments-container">    
    <div class="comment-form-container">
        {% if commented %}
        <div class="comment-approval-message">
            Your comment is awaiting approval
        </div>
        {% else %}
        {% if user.is_authenticated %}
        <h3 class="leave-comment-heading">Leave a comment:</h3>        
        <form method="post" class="comment-form">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="submit-button">Submit</button>
        </form>
        {% endif %}
        {% endif %}        
    </div>
    <div class="individual-comments">
        {% for comment in comments %}
        <div class="comment">
            <p class="comment-author">{{ comment.author }}
                <span class="comment-created">{{ comment.created_on }} wrote:</span>
            </p>
            {{ comment.body | linebreaks }}
        </div>            
        {% endfor %}
    </div>
</div>

{%endblock%}